{% extends 'base.html.twig' %}

{% block title %}Sélection des compétitions{% endblock %}

{% block body %}
    <h1>Compétitions</h1>
    <hr>
    <br>
    {% if competitions is not empty %}
    <div class="row">
    {% for competition in competitions %}
        {% include 'home/_confirmation.html.twig' with {"id": competition.id, "message": "Êtes-vous sûr(e) de vouloir sélectionner la compétition : "~competition.title~" ? Tout avancement d'autres compétition sera écrasé par le nouveau.", "path": path('Team.appel', {id: competition.id}) } %}
        <div class="col-lg-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><strong>Compétition : </strong>{{ competition.title }}</h4>
                    <ul class="list-group mb-5">
                        <li class="list-group-item"><strong>Club organisateur : </strong> {{ competition.clubOrganizer.username }}</li>
                        <li class="list-group-item"><strong>Date de la compétition : </strong>{{ competition.dateCompetition|date('d-m-Y') }}</li>
                        <li class="list-group-item"><strong>Ville : </strong>{{ competition.city }}</li>
                        <li class="list-group-item"><strong>Adresse : </strong>{{ competition.address }}</li>
                        <li class="list-group-item"><strong>Liste des danses de la compétition : </strong><br>
                            {% for dance in competition.dances %}
                                {{ dance.nameDance }}
                                <hr>
                            {% else %}
                                Pas de dances renseignée pour cette compétition
                            {% endfor %}
                        </li>
                        <li class="list-group-item"><strong>Liste des juges de la compétition : </strong><br>
                            {% for judge in competition.judges %}
                            {{ judge.id }} : {{ judge.nameJudge }} {{ judge.firstNameJudge }}
                                <br>
                            {% else %}
                                Pas de juge inscrit pour cette compétition
                            {% endfor %}
                        </li>
                    </ul>
                    <p class="card-text">{{ competition.description }}</p>
                    <a href="#" data-toggle="modal" data-target="#delete{{ competition.id }}" class="btn btn-success">Sélectionner</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    {% else %}
        <strong>Il n'y a aucune compétition inscrite.</strong>
    {% endif %}
{% endblock %}

{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}