{% extends 'base.html.twig' %}

{% block title %}Résultats{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('ResultApp') }}
{% endblock %}

{% block body %}
    <div id="resultatApp" data-row="{{ row|json_encode|e("html_attr") }}" data-row-nbJudge="{{ row.nbJudge }}" data-row-id="{{ row.id }}"></div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('ResultApp') }}
{% endblock %}