{% extends 'base.html.twig' %}

{% block title %}Résultats{% endblock %}

{% block body %}
    <h1>Résultats</h1>
    <hr>
    <h2><strong>{{ row.dance.nameDance }}</strong> | <strong>{{ row.formation }}</strong> | <strong>{{ row.category.nameCategory }}</strong></h2>
    <h3>Tour <strong>{{ row.numTour }}</strong></h3><br>
    <a href="{{ path('Final.imprimer.podium',{id:row.id, res:resultats, indic:1}) }}" target="_blank" class="btn btn-info">Imprimer podium</a>
    <a href="{{ path('Final.imprimer.resultats',{id:row.id, res:resultats, indic:1}) }}" target="_blank" class="btn btn-info">Imprimer les résultats</a>
    <br><br>

    <div class="list-group">

    </div>
    <table class="table table-striped">
        <thead class="thead-light">
        <tr>
            <th scope="col" style="color: black; font-size: 23px;">Place</th>
            <th scope="col" style="color: black;font-size: 23px;">Équipe</th>
            <th scope="col" style="color: black;font-size: 23px;">Club</th>
        </tr>
        </thead>
        <tbody>
        {% set place=1 %}
        {% for resultat in resultats %}
            <tr {% if (resultat[0]|number_format )<=3 %} style="color: red;" {% endif %}>
                <th scope="row">{{ resultat[0]|number_format }}</th>
                <td><strong>{{ resultat[1] }}</strong></td>
                <td><strong>{{ resultat[2].username }}</strong></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}