{% extends 'base.html.twig' %}

{% block title %}Création du planning{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('planningApp') }}
    {{ encore_entry_link_tags('ResultApp') }}
{% endblock %}

{% block body %}
<div>
    <h1>Création du planning</h1>
    <a class="btn btn-info float-right" href="{{ path('Planning.actualPlanning') }}"><i class="fas fa-calendar-alt"></i> Planning actuel</a><br><br>
    <div class="alert alert-info" role="alert">
        Glisser/déposer les lignes pour les trier !
    </div>
    <div id="planningCreator"></div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('planningApp') }}
{% endblock %}