{% extends 'base.html.twig' %}

{% block title %}Tours terminés{% endblock %}


{% block body %}
	<div>
		<h1>Tours terminés</h1>
		<a class="btn btn-primary float-right" href="{{ path('Planning.actualPlanning') }}"><i class="fas fa-calendar"></i> Planning actuel</a><br><br>
		<div class="alert alert-info" role="alert">
			Consulter les informations des tours terminés.
		</div>

		<table class="table-responsive">
			<thead class="thead-dark">
			<tr>
				<th scope="col">Danse</th>
				<th scope="col">Catégorie</th>
				<th scope="col">Age</th>
				<th scope="col">Tour</th>
				<th scope="col">Pistes</th>
				<th scope="col">Options</th>
			</tr>
			</thead>
			<tbody>
			{% for row in rows if rows is not empty %}
				<tr>
					<th scope="row">{{ row.dance.nameDance }}</th>
					<td>{{ row.formation }}</td>
					<td>{{ row.category.nameCategory }}</td>
					<td{% if row.numTour=="Finale" %} style="color: red" {% endif %}>{{ row.numTour }}</td>
					<td>{{ row.piste }}</td>
					{% if row.numTour=="Finale" %}
						<td>
							<a href="{{ path('Final.resultats', {'id': row.id}) }}" class="btn btn-danger"><i class="fas fa-poll"></i> Classement finale</a>
						</td>
					{% else %}
						<td>
							<a href="{{ path('Resultat.check', {'id': row.id}) }}" class="btn btn-info"><i class="fas fa-poll"></i> Résultats</a>
						</td>
					{% endif %}
				</tr>
			{% else %}
				<tr>
					<td scope="row" colspan="6">
						Aucun tour n'a encore eu lieu !
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<a href="{{ path('Panel.testPdf') }}" target="_blank" class="btn btn-info"><i class="fas fa-calendar-alt"></i> Planning compétition <i class="fas fa-calendar-alt"></i></a>
	</div>
{% endblock %}