{% extends 'base.html.twig' %}

{% block title %}Planning actuel{% endblock %}


{% block body %}
    <div>
        <h1>Planning actuel</h1>
        <a class="btn btn-warning float-right" href="{{ path('Planning.index') }}"><i class="fas fa-calendar-plus"></i> Modifier le planning</a><br><br>
        <a class="btn btn-primary float-right" href="{{ path('Planning.previousPlanning') }}"><i class="fas fa-calendar-check"></i> Tours passés</a><br><br>
        <div class="alert alert-info" role="alert">
            Vous pouvez toujours en faire un nouveau dans l'onglet "création"
        </div>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Dance</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Age</th>
                    <th scope="col">Tour</th>
                    <th scope="col">Pistes</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows if rows is not empty %}
                    <tr>
                        <th scope="row">{{ row.dance.nameDance }}</th>
                        <td>{{ row.formation }}</td>
                        <td>{{ row.category.nameCategory }}</td>
                        <td>{{ row.numTour }}</td>
                        <td>{{ row.piste }}</td>
                        <td>
                            <a href="#" class="btn btn-info"><i class="fas fa-calendar-alt"></i> Voir planning équipes</a>
                            <a href="{{ path('Resultat.index', {'id': row.id}) }}" class="btn btn-info"><i class="fas fa-poll"></i> Résultats</a>
                            <a href="{{ path('Resultat.feuilleJuge', {'id': row.id}) }}" class="btn btn-info"><i class="fas fa-poll"></i> Feuille de juge</a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td scope="row" colspan="6">
                            Vous devez créer un planning dans l'onglet approprié.
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('Panel.testPdf') }}" target="_blank" class="btn btn-info"><i class="fas fa-calendar-alt"></i> Planning compétition <i class="fas fa-calendar-alt"></i></a>
    </div>
{% endblock %}