<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top " id="mainNav">
	<div class="container">
		<a class="navbar-brand js-scroll-trigger" href="{{ path('Home.index') }}">
			<img src="{{ asset('Images/logo_fdo.jpg') }}" width="143" height="60" class="d-inline-block align-top" alt="">
		</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="{{ path('Home.index') }}"><i class="fas fa-home"></i> Compétitions</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-calendar-alt"></i> <strong>Planning</strong>
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{{ path('Planning.index') }}"><i class="fas fa-calendar-plus"></i> Création planning</a>
						<a class="dropdown-item" href="{{ path('Planning.actualPlanning') }}"><i class="fas fa-calendar-alt"></i> Planning actuel</a>
						<a class="dropdown-item" href="{{ path('Planning.previousPlanning') }}"><i class="fas fa-calendar-check"></i> Tours passés</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="{{ path('Import') }}"><i class="fas fa-download"></i> Importer</a>
				</li>
			</ul>
		</div>
	</div>
</nav>