<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
    <style type="text/css">
        .table-responsive {
            display: block;
            width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }
        div{
            border: gray solid 3px;
            width: 1000px;
        }
        input{
            margin-left: 0

        }
        th.mid{
            padding-bottom: 30px;
            padding-right: 80px;
        }
        th.bottom{
            padding-bottom: 100px;
        }
        table.t1,table.t2{
            width: 1000px;
        }
        p.juge{
            padding-bottom:40px;
            margin-top:0px;
        }
        th{
            border: black solid 1px;
        }
        th.top{
            border-bottom-width: 4px;
            text-align: left;
        }
        th.num{
            border-bottom-width: 4px;
        }
        th.n1{
            border-right-width: 4px;

        }
        th.n30{
            border-right-width: 4px;
        }
        th.bg{
            background-color: lightgrey;
        }
        table{
            border-collapse: collapse;
        }
        p{
            margin-bottom: 0;
        }
        hr{
            margin-top: 0;
        }




    </style>
    <title>Feuille de juge</title>
</head>
<body>
{% for i in 1..rows.nbJudge %}
<div style="page-break-after: always;">
    <table class="t1">
        <tr>
            <th class="top"><img src="Images/logo_fdo.jpg"></th>
            <th class="discipline top"><span style="text-decoration: underline;">Discipline:</span></th>
            <th class="top">
                <label>{{ rows.getFormation() }}</label>
            </th>
            <th class="top">
                <label>{{ rows.getDance().nameDance }}</label>
            </th >
            <th class="top"><span style="text-decoration: underline;">Catégorie:</span></th>
            <th class="top">
                <label>{{ rows.getCategory() }}</label>
            </th >
            <th class="top"><span style="text-decoration: underline;">Tour:</span></th>
            <th class="top">
                <label>{{ rows.getNumTour() }}</label>
            </th>
            <th class="top" >
                <p class="top juge">
                    <span style="text-decoration: underline;">Nom du Juge :</span>
                </p>
            <hr>
                <p class="top juge">
                    <span style="text-decoration: underline;">Lettre Juge: </span>
                    <label>{{ alpha[i] }}</label>
                </P>
            </th>
        </tr>
    </table>
    <table class="t2">
        <tr>
        <th class="mid n1">Dossards</th>
            {% for team in rows.getTeams() %}
        <th class="num mid">N° {{ team.getId() }}</th>
            {% endfor %}

        </tr>
        <tr>
            <th class="n30 mid bg">Technique /10</th>
            {% for team in rows.getTeams() %}
                <th class="mid bg"></th>
            {% endfor %}
        </tr>
        <tr>
            <th class="n30 mid bg">Charisme /10</th>
            {% for team in rows.getTeams() %}
                <th class="mid bg"></th>
            {% endfor %}

        </tr>
        <tr>
            <th class="n30 mid bg">Thème /10</th>
            {% for team in rows.getTeams() %}
                <th class="mid bg"></th>
            {% endfor %}
        </tr>
        <tr>
            <th class="n30 mid bg">Total /30</th>
            {% for team in rows.getTeams() %}
                <th class="mid bg"></th>
            {% endfor %}
        </tr>
        <tr>
            <th class="n30 mid">Place</th>
            {% for team in rows.getTeams() %}
                <th class="mid"></th>
            {% endfor %}
        </tr>
    </table>
</div>
    <br>
{% endfor %}

</body>
</html>