<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
    <style type="text/css">
        .table-responsive {
            display: block;
            width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }
        input{
            margin-left: 0

        }

        th.bottom{
            padding-bottom: 100%;
        }
        table.t1,table.t2{
            width: 100%;
        }
        p.juge{
            padding-bottom:4%;
            margin-top:0;
        }
        th{
            border: black solid 1px;
        }
        th.top{
            height: 1%;
            border-bottom-width: 4px;
            text-align: left;
        }
        th.num{
            border-bottom-width: 4px;
        }
        th.n1{
            border-right-width: 4px;

        }
        th.n30{
            border-right-width: 4px;
            width: 8%;
        }
        th.bg{
            background-color: lightgrey;
        }
        table{
            border-collapse: collapse;
        }
        p{
            margin-bottom: 0;
        }
        hr{
            margin-top: 0;
        }
        .container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }
        .text-center {
            text-align: center !important;
        }




    </style>
    <title>Feuille de juge</title>
</head>
<body>
<div class="container text-center">

{% for i in 0..rows.NbJudge-1 %}

    <table class="t1">
        <tr>
            <th class="top"><img src="Images/logo_fdo.jpg"></th>
            <th class="discipline top"><span style="text-decoration: underline;">Discipline:</span></th>
            <th class="top">
                <label>{{ rows.getFormation() }}</label>
            </th>
            <th class="top">
                <label>{{ rows.getDance().nameDance }}</label>
            </th >
            <th class="top"><span style="text-decoration: underline;">Catégorie:</span>
                <label>{{ rows.getCategory() }}</label>
            </th >
            <th class="top"><span style="text-decoration: underline;">Tour:</span>
                <label>{{ rows.getNumTour() }}</label>
            </th>
            <th class="top" >
                <p class="top juge">
                    <span style="text-decoration: underline;">Nom du Juge :</span>
                </p>
            <hr>
                <p class="top juge">
                    <span style="text-decoration: underline;">Lettre Juge: </span>
                    <label>{{ alpha[i] }}</label>
                </P>
            </th>
        </tr>
    </table>
    <table class="t2">
        <tr>
        <th class="mid n1">Dossards</th>
            {% for team in rows.getTeams() %}
        <th class="num mid">N° {{ team.numDossard }}</th>
            {% endfor %}

        </tr>
        <tr>
            <th class="n30 mid bg">Technique /10</th>
            {% for team in rows.getTeams() %}
                <th class="mid bg"></th>
            {% endfor %}
        </tr>
        <tr>
            <th class="n30 mid bg">Charisme /10</th>
            {% for team in rows.getTeams() %}
                <th class="mid bg"></th>
            {% endfor %}

        </tr>
        <tr>
            <th class="n30 mid bg">Thème /10</th>
            {% for team in rows.getTeams() %}
                <th class="mid bg"></th>
            {% endfor %}
        </tr>
        <tr>
            <th class="n30 mid bg">Total /30</th>
            {% for team in rows.getTeams() %}
                <th class="mid bg"></th>
            {% endfor %}
        </tr>
        <tr>
            <th class="n30 mid">Place</th>
            {% for team in rows.getTeams() %}
                <th class="mid"></th>
            {% endfor %}
        </tr>
    </table>
    <br>
    {% if i%2 != 0 and i<rows.NbJudge-1 and i!=0%}
        <div style="page-break-after: always">

        </div>
    {%endif %}
{% endfor %}
    </div>
</body>
</html>